html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
	font-family: 'Soleil', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;
	color: #222;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.page-wrapper {
	max-width: 60em;
	padding: 0 2em;
	margin: 0 auto;
}

.baseline-grid {
	background-image: 
		-moz-linear-gradient(0deg, rgba(255,0,0,.05) 9em, transparent 1.2em),
		-moz-linear-gradient(top, rgba(0,0,0,0) 95%, rgba(56,255,255,.5) 100%);
	background-image: 
		-webkit-linear-gradient(0deg, rgba(255,0,0,.05) 9em, transparent 1.2em),
		-webkit-linear-gradient(top, rgba(0,0,0,0) 95%, rgba(56,255,255,.5) 100%);
	background-size: 10.2em 100%, 100% 24px;
	background-position: 2em 0;
	background-clip: content-box;
	/*background-repeat: no-repeat;*/
}

a {
	color: inherit;
	/*text-decoration: none;*/
}

a:hover {
	color: #de232a !important;
}

header {
	padding: 0 0 3.1em;
	border-bottom: 1px solid #ddd;
	position: relative;
}

header a, nav a {
	color: inherit;
	text-decoration: none;
}

nav li.current-menu-ancestor > a,
nav li.current-menu-item > a {
	color: #de232a;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.language-bar {
	padding: 1.8em 0 0.35em;
	border-bottom: 1px solid #ddd;
	text-align: right;
	/*margin-bottom: 1.5em;*/
}

.language-switcher {
	font-size: 0.8em;
}

header .language-switcher li {
	margin-right: 0.33em;
}

header .language-switcher li:last-child {
	margin-right: 0;
}

header .language-switcher li:before {
	content: ' / ';
	color: #aaa;
}

header .language-switcher li:first-child:before {
	content: '';
}


.current-language {
	color: #de232a;
}

header nav .sub-menu li {
	display: block;
	margin: 0;
}

header nav .sub-menu a {
	display: block;
}

.smcp {
	text-transform: lowercase;
	/*font-variant: small-caps;*/
	-webkit-font-feature-settings: "smcp";
	font-feature-settings: "smcp";
}

nav {
	text-transform: lowercase;
	/*font-variant: small-caps;*/
	-webkit-font-feature-settings: "smcp";
	font-feature-settings: "smcp";
	/*font-size: 0.8em;*/
	letter-spacing: 0.08em;
}

header nav li {
	display: inline-block;
	margin-right: 2em;
	position: relative;
}

.masthead {
	margin: 3em 0 2.25em;
	position: relative;
}


body {
	opacity: 1;
	transition: opacity 0.2s;
}

.wf-loading body {
	opacity: 0;
}


.masthead h1 {
	text-transform: lowercase;
	font-variant-caps: small-caps;
	-webkit-font-feature-settings: "smcp";
	font-feature-settings: "smcp";
	letter-spacing: 0.1em;
	width: 8em;
	display: inline-block;
	/*font-size: 1.6em;*/
	font-size: 1.8em;
	line-height: 1.15;
	margin: 0;
	vertical-align: top;

}

.masthead p {
	display: inline-block;
	font-size: 0.8em;
	margin: 0.5em 0;
	vertical-align: top;
}

.biennale-logo {
	position: absolute;
	top: -0.6em;
	right: 0;
	width: 9.1em;
}

.main-section {
	padding: 2.8em 0;
}

.main-section:after {
	content: '.';
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}

article {
	max-width: 40em;
	float: left;
}

article.layout-gallery,
article.layout-gallery-grid {
	max-width: 100%;
	float: none;
}

article.layout-texts h2 {
	margin-bottom: 0;
}

article.layout-texts h3 {
	font-weight: normal;
	margin: 0;
}

article.layout-texts h2 a {
	text-decoration: none;
}

article.layout-texts blockquote {
	padding: 0;
	margin: 1.5em 0;
}

.article-info {
	margin: 0 0 2em;
}

.article-info h1 {
	margin: 0.25em 0;
	font-size: 2em;
	/*font-size: 2em;*/
	line-height: 1.2;
}

.article-info h2 {
	font-weight: inherit;
	margin: 0;
	font-size: 1.4em;
	line-height: 1.07;
}

.article-info a {
	color: inherit;
	text-decoration: none;
}

.article-byline {
	font-size: 0.8em;
	color: #999;
	margin: 0.5em 0;
}

.article-content p {
	margin: 1.5em 0;
}

.article-content h2 {
	font-size: 1.4em;
	margin: 1.65em 0 1.15em;
}

.article-content h1 + p,
.article-content h2 + p {
	margin-top: 0;
}

figure {
	margin: 1.5em 0;
}

figure.hero {
	margin-top: 0;
}

figure img {
	max-width: 100%;
	height: auto !important;
}

figure video {
	width: 100% !important;
	height: auto !important;
}

figcaption {
	font-size: 0.8em;
	color: #999;
	margin: 0.5em 0;
}

article figure {
	margin: 0 0 1.5em;
	display: inline-block;
	width: auto !important;
}

.article-content figure + p {
	margin-top: 0;
}

.article-content img {
	max-width: 100%;
	height: auto;
}

.image-placeholder {
	background: #ddd;
	height: 20em;
}


footer {
	padding: 3.75em 0;
	font-size: 0.8em;
	border-top: 1px solid #ddd;
	color: #777;
}

.social-media {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-left: 1.5em;
	color: #222;
}

.social-media li {
	display: inline-block;
}

.social-media li:after {
	content: ' · ';
}

.social-media li:last-child:after {
	content: '';
}

footer a {
	color: inherit;
	text-decoration: none;
}

.static-image {
	display: inline-block;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.static-image a {
	text-decoration: none;
}

.static-image img {
	max-height: 6em;
	max-width: 12em;
	display: block;
	margin: 0 auto 0.5em;
}

.static-image + br {
	display: none;
}

.article-content .full-bleed {
	width: 60em;
	max-width: 9999px;
}

.article-breadcrumbs {
	font-size: 0.9em;
	line-height: 1.66;
	color: #777;
	/*margin-bottom: 1.66em;*/
}

.article-breadcrumbs li {
	display: inline-block;
	margin-right: 0.33em;
}

.article-breadcrumbs li:after {
	content: ' / ';
	color: #ddd;
}

.article-breadcrumbs li:last-child:after {
	content: '';
}

.article-breadcrumbs + h2 {
	margin-top: 0.99em;
}

/* SLIDESHOW */

.slideshow {
	color: #777;
	width: 100%;
}

.slideshow-active {
	position: relative;
	padding-bottom: 75%;
}

.slideshow figure {
	margin: 0.5em 0 1.5em;
}

.slideshow-active figure {
	margin: 0.5em 0;
}

.slideshow-nav {
	font-size: 0.9em;
}

.slideshow-prev, .slideshow-next, .slideshow-counter {
	opacity: 0;
	transition: opacity 0.2s;
}

.slideshow-active .slideshow-prev,
.slideshow-active .slideshow-next,
.slideshow-active .slideshow-counter {
	opacity: 1;
}

.slideshow-nav a {
	text-decoration: none;
}

.slideshow-prev:after {
	content: ' / ';
	color: #ddd;
}

.slideshow-next {}

.slideshow-toggle {
	float: right;
}

.slideshow-counter {
	display: inline-block;
	width: 4em;
}

.slideshow-active .slideshow-item {
	position:absolute;
	width: 100%;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s  0.1s, visibility 0.2s 0.1s;
	-moz-transition: opacity 0.2s  0.1s, visibility 0.2s 0.1s;
	-webkit-transition: opacity 0.2s  0.1s, visibility 0.2s 0.1s;
	-ms-transition: opacity 0.2s  0.1s, visibility 0.2s 0.1s;
}

.slideshow-active .slideshow-item-current {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s, visibility 0.2s;
	-moz-transition: opacity 0.2s, visibility 0.2s;
	-webkit-transition: opacity 0.2s, visibility 0.2s;
	-ms-transition: opacity 0.2s, visibility 0.2s;
}


hr {
	border: none;
	height: 0;
	text-align: center;
	margin: 1.5em 0;
	line-height: 1;
	letter-spacing: 1em;
}

hr:after {
	content: '***';
	color: #ddd;
}

.excerpted-text {
	position: relative;
}

.excerpted-text-active .read-more {
	display: none;
}

.excerpted-text-collapsed .read-more ~ * {
	display: none;
}

.excerpted-text-expand {
	text-align: center;
	text-decoration: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.excerpted-text-active {
	padding-bottom: 1.5em;
}

.excerpted-text-collapsed {
	padding-bottom: 0;
}

.excerpted-text-collapsed .excerpted-text-expand {
	height: 6em;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0) , rgba(255,255,255, 1));
	
}

.excerpted-text-expand:after {
	content: 'LESS ↑';
	padding: 0.25em 1em;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1em;
	/*font-weight: bold;*/
	letter-spacing: 0.05em;
	font-size: 0.9em;
}

.excerpted-text-collapsed .excerpted-text-expand:after {
	content: 'MORE ↓';
	/*border: 1px solid #222;*/
	background: #222;
	color: #fff;
}

.gallery-grid + h2 {
	margin-top: 0;
}

.gallery-grid:after {
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

.gallery-grid .gallery-grid-item {
	float: left;
	width: 33.33%;
	width: calc(33.33% - 0.8em);
	margin: 0 1.2em 1.2em 0;
}

.gallery-grid-item:nth-child(3n) {
	margin-right: 0;
}

.gallery-grid-item img {
	display: block;
	width: 100%;
	margin-bottom: 0.5em;
}

.gallery-grid-item a {
	font-size: 0.9em;
	line-height: 1.66;
	font-weight: bold;
	text-decoration: none;
	display: block;
}

.gallery-grid-item span {
	display: block;
}


article.layout-gallery figure,
article.layout-gallery img,
article.layout-gallery video {
	width: 100% !important;
	display: block;
}

article.layout-gallery .portrait {
	background: #f3f3f3;
}

article.layout-gallery .portrait img {
	width: auto !important;
	max-height: 40em;
	margin: 0 auto;
}


/* 
	DESKTOP-ONLY STYLES
	----------------------------------------------------------------------------------
*/

@media (min-width: 45em) {

/*	.masthead h1 {
		transition: all 0.15s;
		position: relative;
		z-index: 10;
	}

	.masthead p {
		transition: all 0.15s;
		position: absolute;
		top: 0;
	}

	.masthead:hover {
		color: #de232a;
	}

	.masthead:hover h1 {
		letter-spacing: 2em;
		text-indent: 1.5em;
	}

	.masthead:hover p {
		line-height: 3;
		top: -2.25em;
	}*/

	/* Primary navigation */

	header nav .sub-menu {
		opacity: 0;
		transition: transform 0.2s 0.2s, opacity 0.15s 0.2s, visibility 0s 0.2s, background 0.2s 0.2s;
		transition-timing-function: ease-out;
		transform: translate(0, -1em);
		visibility: hidden;
		position: absolute;
		background: transparent;
		top: 100%;
		left: -0.5em;
		padding: 0.5em;
		white-space: nowrap;
		z-index: 10;
	}

	header nav li:hover .sub-menu {
		opacity: 1;
		transform: translate(0, 0);
		transition: all 0.15s 0.15s;
		visibility: visible;
		background: #fff;
	}

	/* Secondary navigation */

	.secondary-nav {
		float: right;
		width: 9em;
		/*width: 14.7em;*/
		margin-top: 5em;
		padding-left: 1.2em;
		border-left: 1px solid #ddd;
	}

	.secondary-nav ul {
		font-size: 1.1em;
		line-height: 1.36;
	}

	.secondary-nav li {
		margin: 0 0 1.36em;
	}


	.excerpted-text-collapsed .excerpted-text-expand:after {
		opacity: 0;
		transition: opacity 0.15s;
	}

	.excerpted-text-collapsed .excerpted-text-expand:hover:after {
		opacity: 1;
	}
}

/* 
	MOBILE STYLES
	----------------------------------------------------------------------------------
*/

@media (max-width: 45em) {
	.page-wrapper {
		padding: 1em;
	}

	.language-bar {
		padding-top: 0;
	}

	header {
		padding-bottom: 1em;
	}

	header .main-nav li {
		vertical-align: top;
	}

	header .main-nav .sub-menu {
		display: none;
	}

	header .main-nav .current-menu-ancestor .sub-menu,
	header .main-nav .current-menu-item .sub-menu {
		display: block;
	}

	.secondary-nav {
		display: none;
	}
}


@media (max-width: 30em) {

	.gallery-grid .gallery-grid-item {
		width: 100%;
		margin: 0 0 1.5em;
	}

	.masthead {
		margin: 1.5em 0 0;
	}

	.biennale-logo {
		width: 4.5em;
		top: -0.3em;
	}

	header .main-nav .current-menu-ancestor .sub-menu,
	header .main-nav .current-menu-item .sub-menu {
		margin-left: 1em;
	}

	header .main-nav li {
		display: block;
	}
}
